.theme-form__field
  .theme-form__field--left
    Theme
  %textarea.theme-form__field--right

.theme-form__field.clearfix
  .theme-form__field--left
    Avatar
  %textarea.theme-form__field--right

.theme-form__field.clearfix
  .theme-form__field--left
    Add member
  %textarea.theme-form__field--right{placeholder: "Please enter the username you want to add"}

.theme-form__field.clearfix
  .theme-form__field--left
    Member
  .theme-form__field--right

= link_to "戻る", themes_path