.memo
  .memo__top
    ああああああああああああああああああああああああああああああああああああああああ
  .memo__bottom
    .memo__bottom__left
      %a{href: "#", class: "btn-sticky"}
        EDIT
      %a{href: "#", class: "btn-sticky"}
        DELETE
    %ul.memo__bottom__right
      %li.memo__bottom__right__date
        2019/07/27
      %li.memo__bottom__right__time
        18:24
.memo
.memo
.memo
.memo
.memo
.memo
.memo
.memo
.memo