.memo_contents
  %ul.memo_contents__header
    %li= link_to fa_icon("pencil-square-o") + " New Memo", new_memo_path, class: "memo_contents__header__new-memo"
    %li= link_to fa_icon("trash") + " Delete All Memos", all_destroy_memos_path, class: "memo_contents__header__delete-all"
  .memos
    - @memos.each do |memo|
      = render partial: "memo", locals: { memo: memo }